!!!
- def include(f) ;  Haml::Engine.new(File.read "#{f}.html.haml").render ; end
%html{:lang => "en"}
  %head
    %title Free Flight First Aid Course by Tonia Reinys Fox, MD, P4
    = include 'assets'
  %body
    / ******HEADER******
    = include 'header'
    .container.sections-wrapper.py-5
      .row
        .primary.col-lg-4.col-12
          %section.about.section
            .section-inner.shadow-sm.rounded
              %h2.heading.sr-only About the Course
              .content
                = include 'course-description'
                = include 'sample'

        .primary.col-lg-8.col-12
          %section.latest.section
            .section-inner.shadow-sm.rounded
              %h2.heading.sr-only Workshop Images
              .content
                = include 'carousel'
          %section.section


      %hr.divider

      .row

        .primary.col-lg-4.col-12
          %section.testimonials.section
            .section-inner.shadow-sm.rounded
              %h2.heading Testimonials
              .content= include 'quotes'

        .primary.col-lg-8.col-12
          %section.about.section
            .section-inner.shadow-sm.rounded
              %h2.heading.sr-only About the Instructor
              .content= include 'about-instructor'

      .row

        .primary.col-12
          %section.primary.section.text-center
            .section-inner.shadow-sm.rounded
              %p
                Interested in hosting the workshop for your free flight club/organization
                and making the videos available to them?
              %p
                Contact me and we'll work something out!

              %a.btn.btn-cta-primary{:href => "mailto:tonia@freeflightfirstaid.cloud?subject=Interest%20in%20Free%20Flight%20First%20Aid%20Course", :target => "_blank"}
                %i.fas.fa-paper-plane
                Contact 

    = include 'footer'
